{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block content %}
    <div class="container-fluid login-container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-form-1">
                <h3>Entrar</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-2">
                        {{ form|bootstrap }}
                    <div class="form-group mt-2">
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" class="btn btnSubmit btn-block" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="#" class="ForgetPwd">Esqueceu a senha?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}