{% extends 'base.html' %}

{% block title %}Sair{% endblock %}

{% block content %}
    <div class="container-fluid login-container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-form-1">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <h2 class="text-center fs-1">Sair</h2>
                    <p class="text-center">Você tem certeza que deseja sair?</p>
                    <div class="d-grid">
                        <button class="btn btn-danger" type="submit">Sair</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
